.banner {
    padding: 5em;
    background-image: linear-gradient(rgba(63, 63, 63, 0.637), rgba(0, 0, 0, 0.836)), url("../assets/img/s-banner.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    margin:auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.banner-content > p {
    width: 100%;
    max-width: 54ch;
    text-align: center;
    color: var(--font-white);
}

.main-service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark-grey);
    padding: 3em;
}


.service-offers {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.service-offers > div {
    display:  flex;
    flex-direction: column;
    gap: 1em;
    color: var(--font-white) !important;
    background-color: var(--font-dark);
    padding: 1em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in;
    text-align: center;
}

.service-offers > div:hover {
    background-color: var(--pink-light);
}
.service-offers > div.active-offer {
    background-color: var(--primary-color);
}

.service-offers > div > img {
    width: 3em;
    aspect-ratio: 1/1;
}

.pricing-extensions, .pricing-removal {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--dark-bg);
    color: var(--font-white);
    padding: 3em;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 60em;
}

.pricing-extensions h3, .pricing-removal h3 {
    text-align: center;
}

.pricing-heading {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.pricing-heading > p:last-child {
    width: 100%;
    max-width: 54ch;
    text-align: center;
}

.pricing-container-additional, .pricing-container-length {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
    
}

.pricing-container-additional > .content, .pricing-container-length > .content {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-row-gap: 0.8em;
} 

.pricing-container-additional > .content > div, .pricing-container-length > .content >div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.pricing-removal {
    width: 100%;
    display: none;
}

.pricing-container-removal {
    width:100%;
}

.pricing-container-removal .content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    grid-gap: 4em;
    justify-items: center;
}

.pricing-container-removal .content > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
}

.pricing-container-removal .content > div > p:last-child{
    text-align: center;
}




.after-care {
    background-color: var(--dark-bg);
    padding: 5em;
}


.after-care-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.instructions {
    display: flex;
    flex-direction: space-between;
    align-items: center;
    gap: 3em;
}

.instructions img {
    display: block;
    width: 100%;
    max-width: 20em;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 20px;
}

.instructions ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 54ch;
}

.instructions ul li {
    list-style-type: disc;
    list-style: disc;
    font-size: var(--body);
    color: var(--font-white);
    width: 100%;
}

.after-care button {
    
}

.after-care button {
    background-color: var(--primary-color);
    color: var(--font-white);
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 5px;
    font-size: inherit;
  }
  
  .after-care button:hover {
    background-color: var(--pink-light);
  }

  @media (max-width: 858px) {
    .banner {
        padding-top: calc(80px + 5em);
    }
  }

  @media (max-width: 698px) {
    .main-service-container {
        flex-direction: column;
        padding-inline: 1em;
    }

    .service-offers {
        flex-direction: row;
    }

    .service-offers > div {
        padding: 1em;
    }

    .service-offers img {
        display: none;
    }

    .pricing-container-removal .content  {
        grid-gap: 2em;
    }

    .after-care-content {
        gap: 1em;
    }

    .after-care h2 {
        align-self: flex-start;
    }
    
    .after-care {
        padding-inline: 2em;
    }

    .after-care-content .instructions{

        flex-direction: column;
    }
  }


  @media (max-width: 446px) {
    .pricing-container-additional > .content, .pricing-container-length > .content {
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
        text-align: center;
    }

    .pricing-container-removal .content {
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    }

    .pricing-extensions, .pricing-removal {
        padding-inline: 1em;
    }

    .after-care button {
        padding: 0.5em 1em;
    }
  }